{% extends "base.html" %}

{% block title %}
Market Page
{% endblock %}

{% block content %}
<div class="row row-sd">
  <div class="col-8">
    <h2>Available items on the Market</h2>
    <p>Click on one of the items to start buying</p>
    <br>
    <table class="table table-hover table-dark">
      <thead>
        <tr>
          <!-- Your Columns HERE -->
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Barcode</th>
          <th scope="col">Price</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
        <!-- Your rows inside the table HERE: -->
        {% for item in items %}
          {% include "includes/items_modals.html" %}
            <tr>
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.barcode }}</td>
              <td>${{ item.price }}</td>
              <td>
                <button class="btn btn-outline btn-info" data-toggle="modal" data-target="#modal-more-info-{{ item.id }}">More Info</button>
                <button class="btn btn-outline btn-success" data-toggle="modal" data-target="#modal-purchase-confirm-{{ item.id }}">Purchase</button>
              </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-4">
    <h2>Owned Items</h2>
    <p>Click on Return to put item back on the Market</p>
    <br>
    <div class="row mx-0">
      {% for owned_item in owned_items %}
        {% include "includes/owned_items_modals.html" %}
          <div class="col-md-6 px-1">
            <div class="card text-center bg-dark card-sd">
              <div class="card-body">
                <h5 class="card-title">{{ owned_item.name }}</h5>
                <button type="button" class="btn btn-outline-danger btn-sd" data-toggle="modal" data-target="#modal-returning-confirm-{{ owned_item.id }}">
                  Return
                </button>
                <p class="card-text"><strong>
                  This item costs ${{ owned_item.price }}
                </strong></p>
              </div>
            </div>
          </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}