body {
    background-color: #212121;
    color: white;
}

.navbar-sd {
    font-size: larger;
}

.navbar-brand-sd {
    font-size: 150%;
    color: red !important;
    font-family: 'Brush Script MT', cursive;
}

.nav-cash-sd {
    color: lawngreen !important;
    font-weight: bold;
}

.nav-greeting-sd {
    color: red !important;
}

.row-sd {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.card-sd {
    margin-bottom: 5px;
}

.btn-sd {
    margin-bottom: 5px;
}

.brand-sd {
    font-size: 600%;
    color: red !important;
    font-family: 'Brush Script MT', cursive;
}